body{
  background-color: #02010a;
  font-family: 'Dancing Script', cursive;
  color: white;
  font-size: 12px;

}
header{
  background-color: #5b7989;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  text-shadow: 2px 2px #02010a;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  }
header a{
  display: inline-flex;
  flex-wrap: wrap;
  color: white;
  margin: 0px 12px;
  font-size: 16px;
  text-decoration: none;
}
.contenedor{
  width: 900px;
  margin-left: auto;
  margin-right: auto;
    }
#imagen{
  background-color: #d5c75f;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
      }
#imagen div img{
  width: 80%;
  height: 80%;
  padding-top: 5%;
  padding-left: 10%;
  justify-content: center;

}
#imagen #Imagen1 img{
  -webkit-filter: blur(10px);
  filter: blur(10px);
            }
#imagen #Imagen2, #Imagen4, #Imagen6 img{
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
#imagen #Imagen3 img{
  -webkit-filter: sepia(90%);
  filter: sepia(90%);
}
#PiePagina{
  background-color: #C6d5c5;
  display: flex;
  margin: 0 auto;
  width: 900px;
  display: flex;
  flex-flow: row;
  text-align:  center;
  font-family: 'Dancing Script', cursive;
  color: black;
  border-radius: 0px 0px 10px 10px; 
    }

#Contacto, #Terminos, #Redes Sociales, #Derechos{
  Margin: 0 auto;
    }
@media screen and (max-width: 900px){
  .contenedor{
  width: 100%;
  display: flex;
  flex-direction: column;
          }
  #imagen{
  width: 100%;
  display: flex;
  flex-direction: column;
    }
  #imagen div img{
  padding-left: 9.5%;
  padding-right: 3%;
  padding-top:3%;
  padding-bottom: 10%;

  }

  #PiePagina{
  width: 100%;
  display: flex;
  flex-direction: column;

      }
  header{
  width: 100%;
  display: flex;
  flex-direction: column;
          }
        }
